<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>components</title>
</head>
<body>

    <div id="app-1">
        <h3>Vue app one</h3>
        <greeting> </greeting>
        <templateTwo></templateTwo>
    </div>

    <div id="app-2">
        <h3>Vue app two</h3>
        <greeting> </greeting>
        <templateTwo></templateTwo>
    </div>

    <script src="app.js"></script>
</body>
</html>