<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>intro to two way binding</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="vue-app">

        <h1>{{ greet('Evening') }}</h1>

        <p>Name: {{name}}</p>
        <p>Job: {{job}}</p>

        <h2>Data Binding</h2>
        <a v-bind:href="website">my website</a>
        <input type="text" v-bind:value="job">
        <!-- the v-bind can be replaced with just : and the value="name" binds it to the data in app.js -->
        <p v-html="websiteTag"></p>

        <h2>Events</h2>
        <button @click.once="add(1)">Add a year</button>
        <button v-on:click="subtract(1)">Subtract a year</button>
        <button @dblclick="add(10)">Add 10 years</button>
        <button v-on:dblclick="subtract(10)">Subtract 10 years</button>
        <!-- @click is the shorthand of v-on:click both work the same -->
        <!-- event modifiers alter the event so the .once will mean the button can only be used once -->

        <p>My Age is {{ age }}</p>

        <!-- CANVAS -->
        <div id="canvas" v-on:mousemove="updateXY">{{ x }}, {{ y }}</div>
        <a v-on:click.prevent="click" v-bind:href="website">Vue again</a>
        <!-- the .prevent is a modifier that will allow for the alert (in app.js) to work but will stop the going to the website clicked on -->

        <h2>Keyboard events</h2>
        <label>Name:</label>
        <input type="text" v-on:keyup.enter="logName"/>
        <label>Age:</label>
        <input type="text" v-on:keyup.alt.enter="logAge"/>
        <!-- .enter and .alt(alt button + enter)is a modifer that means it will log(from app.js) when return key is pushed -->

        <h2>Keyboard events 2</h2>
        <label>Name:</label>
        <input type="text" v-model="name2" />
        <!-- v-model attaches to the name2 in the app.js which is an empty string it updates in browser due to the  {{ name2  }} in the html. two way binding -->
        <span>{{ name2 }}</span>
        <label>Age:</label>
        <input type="text" v-model="age2" />
        <span>{{ age2 }}</span>



    </div>


    <script src="app.js"></script>
</body>

</html>